/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: rgba(12, 84, 96, 0.1);
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.27);
}
